<div class="inicio">
  <div class="slider">
    <%= image_tag '1.jpg', class:"foto" %>
    <%= image_tag '2.jpg', class:"foto" %>
    <%= image_tag '3.jpg', class:"foto" %>
  </div>

  <div class="contribuicoes">
    <div class="sociocontri">
      <%= image_tag "socio.jpg", class: 'imagemsocio' %>
      <div class="dadossocio">
        <h2>Sócio Contribuinte APAE - Ibiúna</h2>
        </p>CNPJ: 34.037.148/0001-12
        </p>Rua Benjamim Constant, n 245 - Centro 
        </p>Tel: (15) 3248-2444
        </p>Tel celular: (15) 99671-3142
      </div>
    </div>
    <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSfZ_lyJ0I4zylQS9OHHnVyt_8VC-ELAoTrkLCo4P9zUqKHBQQ/viewform?fbclid=IwAR11fBV80pwv4bSfIVFXVSMuF8eJLqd4X4wtwJ8dJy4dM0u_TPxqP8ZWgjU">
      <div class="containerdonate">
          <%= image_tag "donate.jpg", class:'donateimg' %>
          <div class="donatetext">
            <p> <i class="fas fa-hand-holding-heart"></i> </p>
            <small> FAÇA SUA </small>
            <p> <b>DOAÇÃO</b> </p>
          </div>
      </div>
    </a>
  </div>
  
  <div class="inicioag">
    <h1> Atuamos nas áreas de </h1>
    <div class="areasdeat">
      <div class="educacao">
        <p>Educação</p>
        <i class="fas fa-pencil-alt"></i>
      </div>
      <div class="familia">
        <p>Assistência</p>
        <p>Familiar</p>
        <i class="fas fa-home"></i>
      </div>
      <div class="saude">
        <p>Saúde Mental</p>
        <i class="fas fa-heartbeat"></i>
      </div>
    </div>
  </div>

  <div class="parceiros">
    <div class="containerparc">
      <input type="radio" name="images" class="i1" id="i1" checked>
      <input type="radio" name="images" class="i2" id="i2">
      <input type="radio" name="images" class="i3" id="i3">
      <div class="slider-img img-1" id="img1">
        <%= image_tag "nestle.png", class: "imagens n1" %>
        <label for="i3" class="pre"></label>
        <label for="i2" class="next"></label>
      </div>
      <div class="slider-img img-2" id="img2">
        <%= image_tag "apaeibiuna.jpg", class: "imagens n2" %>
        <label for="i1" class="pre"></label>
        <label for="i3" class="next"></label>
      </div>
      <div class="slider-img img-3" id="img3">
        <%= image_tag "socio.jpg", class: "imagens n3" %>
        <label for="i2" class="pre"></label>
        <label for="i1" class="next"></label>
      </div>

      <div class="nav">
       <label class="dots dot1" for="i1"></label>
       <label class="dots dot2" for="i2"></label>
       <label class="dots dot3" for="i3"></label>
      </div>

      <div class="automatic-nav">
        <label class="dots autodot1" for="i1"></label>
        <label class="dots autodot2" for="i2"></label>
        <label class="dots autodot3" for="i3"></label>
      </div>
    </div>
  </div>

  <div class="inicioeventos">
    <div class="eventotit">
      <h1> PRÓXIMOS EVENTOS </h1>
    </div>
    <div class="agendaeventos">
      <h2>
        ...
      </h2>
    </div>
  </div>

  <div class="inicioacessos">
    <div class="qdoacao">
      <div class="titdoacao">
        <h2> INFORMAÇÃO </h2>
        <small>para doações <i class="fas fa-heart"></i></small>
      </div>
      <div class="infodoacao">
        <p>CNPJ: 34.037.148/0001-12</p>
        <p> Banco do Brasil </p>
        <p>AGÊNCIA: 0825-7</p>
        <p>Conta Corrente: 39565-0</p>
        <p>Gratidão por qualquer valor</p>
      </div>
    </div>

    <div class="fbfbfb">
      <head>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v8.0" nonce="kZnCPTtl"></script>
      </head>
      <div class="facebookapae">
        <div class="fb-page" data-href="https://www.facebook.com/apaeibiunasp" data-tabs="timeline" data-width="250" data-height="400" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/apaeibiunasp" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/apaeibiunasp">APAE Ibiúna SP</a></blockquote></div>
      </div>
    </div>

    <div class="googlemaps">
      <div class="googletitulo">
        <p> ESTAMOS <strong><p>AQUI</strong> </p>
      </div>
      <div class="googleinfo">
        <p>Rua Benjamin Constante, 245</p>
        <p>Ibiúna, Centro - São Paulo</p>
        <p>CEP 18.150-000</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.6136306302797!2d-47.22332618506279!3d-23.65400407090501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf7698837f1d5b%3A0xb28620b42e82aad9!2sR.%20Benjamin%20Constant%2C%20245%20-%20Centro%2C%20Ibi%C3%BAna%20-%20SP%2C%2018150-000!5e0!3m2!1spt-PT!2sbr!4v1604889790586!5m2!1spt-PT!2sbr" width="250" height="170" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    </div>
      </div>
    </div>
    
  </div>
</div>

<script>
  var counter = 1;
  setInterval(function(){
    document.getElementById('i' + counter).checked = true
    counter++
    if(counter > 3){
      counter = 1
    }
  }, 4000)
</script>