<div class="inicio">
  <div class="slider">
    <%= image_tag '1.jpg', class:"foto" %>
    <%= image_tag '2.jpg', class:"foto" %>
    <%= image_tag '3.jpg', class:"foto" %>
  </div>

  <div class="contribuicoes">
    <div class="sociocontri">
      <%= image_tag "socio.jpg", class: 'imagemsocio' %>
    </div>
    <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSfZ_lyJ0I4zylQS9OHHnVyt_8VC-ELAoTrkLCo4P9zUqKHBQQ/viewform?fbclid=IwAR11fBV80pwv4bSfIVFXVSMuF8eJLqd4X4wtwJ8dJy4dM0u_TPxqP8ZWgjU">
      <div class="containerdonate">
          <%= image_tag "donate.jpg", class:'donateimg' %>
          <div class="donatetext">
            <p> <i class="fas fa-hand-holding-heart"></i> </p>
            <small> FAÇA SUA </small>
            <p> <b>DOAÇÃO</b> </p>
          </div>
      </div>
    </a>
  </div>
  
  <div class="inicioag">
    <h1> Atuamos nas áreas de </h1>
    <div class="areasdeat">
      <div class="educacao">
        <p>Educação</p>
        <i class="fas fa-pencil-alt"></i>
      </div>
      <div class="familia">
        <p>Assistência</p>
        <p>Familiar</p>
        <i class="fas fa-home"></i>
      </div>
      <div class="saude">
        <p>Saúde Mental</p>
        <i class="fas fa-heartbeat"></i>
      </div>
    </div>
  </div>
  <div class="parceiros">
    <h1> alo alo </h1>
  </div>
</div>

